.plane-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.airplane {
  position: absolute;
  height: 65%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  color: white;
  background: -webkit-linear-gradient(-65deg, rgb(50, 0, 50), #f96e91, #f7f37e);
}
.plane-container {
  border: white 1px solid;
  padding: 20px;
  border-radius: 20px;
}
.top-rows {
  margin-bottom: 2.5rem;
}
.seat-button {
  text-align: center;
  width: 40px;
  height: 40px;
  margin: 5px 10px;
  border-radius: 5px;
  background: darkmagenta;
  border: 1px solid white;
  color: white;
  font-size: 1.1rem;
  font-weight: 200;
  text-decoration: none;
  -moz-box-shadow: 4px 4px 8px 0px rgb(0, 0, 0, 0.5);
  -webkit-box-shadow: 4px 4px 8px 0px rgb(0, 0, 0, 0.5);
  box-shadow: 4px 4px 8px 0px rgb(0, 0, 0, 0.5);
}
.seat-button:hover {
  background: rgb(255, 111, 0);
  box-shadow: none;
}
.seating-icon {
  display: inline-block;
}
.seat-button1 {
  text-align: center;
  width: 100px;
  height: 40px;
  margin: 5px 100px;
  border-radius: 5px;
  background: rgb(255, 111, 0);
  border: 1px solid white;
  color: white;
  font-size: 1.1rem;
  font-weight: 200;
  text-decoration: none;
}
.seat-button2 {
  text-align: center;
  width: 100px;
  height: 40px;
  margin: 5px 100px;
  border-radius: 5px;
  background: darkmagenta;
  border: 1px solid white;
  color: white;
  font-size: 1.1rem;
  font-weight: 200;
  text-decoration: none;
}